.countdown {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: 'arial';

}

.time-section {
    text-align: center;
    font-size: 30px;
}

.time-section p {
    text-align: center;
    font-size: 30px;
    color: #1c1b1b;
}

.time-group {
    display: flex;
    gap: 10px;
}

.time-segment {
    display: block;
    font-size: 90px;
    font-weight: 900;
    width: 100px;

}

.segment-display {
    position: relative;
    height: 100%;
}

.segment-display__top,
.segment-display__bottom {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative;
}

.segment-display__top {
    line-height: 1.5;
    color: #cc1c80;
    background-color: #100e0e;
}

.segment-display__bottom {
    line-height: 0;
    color: #cc1c80;
    background-color: #1c1c1c;
}

.segment-overlay {
    position: absolute;
    top: 0;
    perspective: 400px;
    height: 100%;
    width: 100px;
}

.segment-overlay__top,
.segment-overlay__bottom {
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
}

.segment-overlay__top {
    top: 0;
    line-height: 1.5;
    color: #cc1c80;
    background-color: #100e0e;
    transform-origin: bottom;
}

.segment-overlay__bottom {
    bottom: 0;
    line-height: 0;
    color: #cc1c80;
    background-color: #1c1c1c;
    transform-origin: top;
}

.flip .segment-overlay__top {
    animation: flipTop 0.8s linear;
}

.flip .segment-overlay__bottom {
    animation: flipBottom 0.8s linear;
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
    }

    50%,
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flipBottom {

    0%,
    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}


@media only screen and (max-width: 1024px) {
    .time-section {
        font-size: 24px;
    }

    .time-segment {
        font-size: 70px;
        width: 80px;
    }

    .segment-overlay {
        width: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .countdown {
        gap: 15px;
    }

    .time-section {
        font-size: 20px;
    }

    .time-segment {
        font-size: 60px;
        width: 70px;
    }

    .segment-overlay {
        width: 70px;
    }
}

@media only screen and (max-width: 720px) {
    .countdown {
        gap: 15px;
    }

    .time-section p {
        font-size: 20px;
    }

    .time-segment {
        font-size: 60px;
        width: 60px;
    }

    .time-group {
        gap: 3px;
    }

    .segment-overlay {
        width: 60px;
    }
}

@media only screen and (max-width: 550px) {
    .countdown {
        gap: 8px;
    }

    .time-segment {
        font-size: 40px;
        width: 50px;
    }

    .segment-overlay {
        width: 50px;
    }

    .time-group {
        gap: 1px;
    }

    .time-section p {
        font-size: 15px;
    }

}

@media only screen and (max-width: 435px) {
    .countdown {
        gap: 6px;
        flex-wrap: wrap;
    }

    .time-segment {
        font-size: 3 0px;
        width: 40px;
    }

    .segment-overlay {
        width: 40px;
    }

    .time-group {
        gap: 1px;
    }

    .time-section p {
        font-size: 12px;
    }

}
